body {
	/*background-color:#0ea5d4;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
  */

    font-family : Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #666252;
  line-height: 1.67em;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: normal;
  padding-bottom:34px;

}

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.container {
	width: 982px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}

.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
}
.container:after {
  clear: both;
}

#login {
	background-color:#ffffff;
	padding-bottom: 20px; 	
	width:270px;
	margin-left: auto ;
	margin-right: auto ;
}

#login form{
	margin-left: 25px;
	margin-top: 15px;
}


#login .submit{      	
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-transition: all 0.1s linear 0s;
	background-color: #E6E6E6;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
	background-repeat: no-repeat;
	border-color: #CCCCCC #CCCCCC #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #808080;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	font-size: 12px;	
	padding-bottom: 3px;
	padding-top: 3px;
	margin:10px 0px;
}


#login h3{
	color: #808080;	
	display: block;
	font-size: 17px;    
	height:45px;
	line-height: 36px;
	font-weight: bold;
	margin:  10px 0px 10px 25px;
	font-family: inherit;
	font-style: normal;    	
}

.message {
	margin-bottom: 0;
	color: #808080;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-image: none;    
	box-shadow: none;
	padding: 0px 25px;
}

strong {
    font-style: inherit;
    font-weight: bold;
}


input{
  display: inline-block;
  width: 210px;
  height: 25px;
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

/*MAIN
-------------------------------------------------------------------*/



#data{
  width:620px;
  float:left;  
  padding-bottom: 34px;
  overflow:auto
}

#display{
  width:620px;  
  font-size:13px;
  font-weight:bold;  
}

.module{
  margin-top:15px;
  width:310px;
  float:left;  
  padding-bottom: 34px;
}

#trips{
  width:310px;
  float:right;
  border-left: 1px dotted #A8A392;
  padding-left:26px;
  height:100%;
  overflow:auto;
}

#map
{  
  padding: 32px 0px;
  height:372px;
  width:982px;
}

#map_canvas
{ 
  height:320px;
  width:982px;
}

.border-bottom {
  border-bottom: 1px dotted #A8A392;
  padding-bottom: 34px;
  overflow:auto
}



.bigborder
{
  border-bottom: 1px solid #A8A392;
  margin-bottom:20px;
}

#cordinates{
  float:left;
  width:500px;
}



#status{
  float:left;
}
/* Header
-------------------------------------------------- */
header{
  display: block;
  min-width: 940px;
  background-color: #91b93f;
  background-repeat: no-repeat;
  height:80px;
  color: #FFF;
}


/* Footer
-------------------------------------------------- */
footer {
  font: 11px/20px Tahoma,Arial,Helvetica,Sans-Serif;
  min-width: 940px;
  
}

footer a{
  text-decoration:none;
}


#navigation{
color: #DEEFBC;
line-height: 25px;
margin-top: 45px;
z-index: 9999;
list-style: none outside none;

}

#nav{
  float:right;  
}

li
{
  display:inline;  
}

#nav a
{
  display:inline;
  color:#FFF;
  text-decoration: none;
}


h1{
  font-weight: normal;
  color: #91b93f;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 36px;
  margin: 0px 0px 10px 0px;
}

header h1 {
  padding: 20px 0;
  color: #FFF;
  margin: 0x 0px 18px 0px;
  width:500px;
  float:left;
}


p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 9px;
}

p.time{
  border-bottom: 1px dotted #C6C4BA;    
    font: 11px/20px Tahoma,Arial,Helvetica,Sans-Serif;
    margin-bottom: 10px;
    padding-bottom: 9px;
}

.floatright{
  float:right;  
}

.rightend{    
  padding: 0px 25px;
}

/* Colors
-------------------------------------------------- */
.heading{  
  color: #91b93f;
}

.info{  
  color: #8DB739;
}

.link{  
  color:#7DCEE9;
}

.warning{  
  color: #E07033;
}
